<h1>New Game</h1>


<div class="grid-container d-flex display-inline">
    <% @letters.each do |letter| %>
     <div class="grid-item  p-3 m-3 bg-primary text-light shadow-sm rounded"><%= letter %></div>
    <% end %>
</div>

<p>What is the longest word that you can find?</p>
<form action="/score" method="post" data-turbo="false" class="form-inline form-group mx-sm-3 mb-2">
  <input type="text" name="word" class="" value=<%= params[:word] %> class="">
  <input type="submit" value="Good Luck!" class="btn btn-primary mb-2">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
</form>
